[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy-fracdiff = "*"
statsmodels = "*"
keras-tuner = "*"
seaborn = "*"
tensorflow-addons = "*"
pymongo = {extras = ["srv"], version = "*"}
pandas = "*"
pywavelets = "*"
sklearn = "*"
scikit-learn = "*"
matplotlib = "*"
pyportfolioopt = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.8"
